<html>
    <head>
        <title>Tasks</title>
        <link href="/s/style.css" rel="stylesheet" />
    </head>
    <body>
        <a href='/'>Главная</a>
        <a href='/items'>Предметы</a>
        {% block %}{% endblock %}
    </body>
</html>
