<!DOCTYPE html>
    <html lang="en">
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="css/login.css">
    </head>
<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <form method="POST" action="/login">
                <div class="fadeIn first">
                    <p>Авторизация</p>
                </div>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Логин">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Пароль">
                <input type="submit" class="fadeIn fourth" value="Войти">
            </form>

        </div>
    </div>
</body>
</html>
